@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {

}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.navbar-nav {
    /*flex-direction: row;*/
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 17px;
}

nav.navbar{
    background-color:#ccc;
/*// Animation*/
-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-inline button {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}

.logo {
    min-height: 100px;
    max-height: 100px;
}

nav.navbar.shrink .logo {
    min-height: 60px;
    max-height: 60px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#home {
    padding-top: 100px;
}

.about-me {
    background: #41c3d7;
    /*background: #138a9e;*/
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .about-me .jumbotron {
        background: #41c3d7;
        padding-top: 85px;
        padding-bottom: 1rem;
        color: #FFF;
    }

.skills {
    background: #F9FAFA;
    color: #343A40;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .skills h1 {
        padding-top: 85px;
    }

.experience {
    background: #eff0f0;
    color: #343A40;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .experience h1 {
        padding-top: 85px;
    }

.education {
    background: #15C0A9;
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .education h1 {
        padding-top: 85px;
    }

.portfolio {
    background: #40E6FF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .portfolio .jumbotron {
        background: #40E6FF;
        padding-top: 85px;
        padding-bottom: 1rem;
        color: #FFF;
    }

    .portfolio-content {
        margin-bottom: 30px;
    }

.contact {
    background: #FFA500;
    color: #FFF;
    min-height: 500px;
    padding-bottom: 4rem;
}

    .contact .jumbotron {
        background: #FFA500;
        padding-top: 85px;
        padding-bottom: 1rem;
        color: #FFF;
    }

    .contact .col-md-6 iframe {
        min-height: 300px;
    }

footer {
    background-color: #343a40;
    color: #FFF;
    min-height: 100px;
}
    footer h5 {
        text-align: center;
        margin-top: 35px;
    }

    footer .text-muted {
        color: #15a8c0 !important;
    }